In [2]:
import numpy as np
import pandas as pd

# 1. Make Arrays

1.1 Convert from a list

In [4]:
data = pd.read_csv("data.csv", header = None)
data.head()

           0          1
0  32.502345  31.707006
1  53.426804  68.777596
2  61.530358  62.562382
3  47.475640  71.546632
4  59.813208  87.230925

In [8]:
my_list = [1,2,3,4]
type(my_list)

list

In [9]:
my_array_1 = np.array(my_list)
my_array_1
type(my_array_1)

numpy.ndarray